{% extends 'base.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello ! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/Users/Audoli/Documents/Dev/SitesWeb/Projet2/src/Controller/TestController.php'|file_link(0) }}">src/Controller/TestController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/Users/Audoli/Documents/Dev/SitesWeb/Projet2/templates/test/index.html.twig'|file_link(0) }}">templates/test/index.html.twig</a></code></li>
    </ul>
</div>

<div id="myGrid" style="height: 200px; width:500px;" class="ag-theme-balham"></div>

 <button id='addRow' >Ajouter une ligne</button>

{% endblock %}

{% block js %}
<script src="{{ asset('jsuite/jsuites.js') }}"></script>
<script src="{{ asset('aggrid/ag-grid-enterprise.min.js') }}"></script>
<script src="{{ asset('aggrid/main.js') }}"></script>
<script>
function DomEditor() {
	this.data = [
		{ id:'1', name:'Prévisionnel' },
		{ id:'2', name:'Historique' },
		{ id:'3', name:'En validation' },
		{ id:'4', name:'En cours' },
		{ id:'5', name:'A vérifier' },
	];
}

DomEditor.prototype = new ObjectEditor();
</script>
<script>
function ConfEditor() {
	this.data = [
		{ id:'1', name:'Prévisionnel' },
		{ id:'2', name:'Historique' },
		{ id:'3', name:'En validation' },
		{ id:'4', name:'En cours' },
		{ id:'5', name:'A vérifier' },
	];
}

ConfEditor.prototype = new ObjectEditor();
</script>
<script>
function TypoEditor() {
	this.data = [
		{ id:'1', name:'Prévisionnel' },
		{ id:'2', name:'Historique' },
		{ id:'3', name:'En validation' },
		{ id:'4', name:'En cours' },
		{ id:'5', name:'A vérifier' },
	];
}

TypoEditor.prototype = new ObjectEditor();
</script>
<script>
function SupEditor() {
	this.data = [
		{ id:'1', name:'Prévisionnel' },
		{ id:'2', name:'Historique' },
		{ id:'3', name:'En validation' },
		{ id:'4', name:'En cours' },
		{ id:'5', name:'A vérifier' },
	];
}

SupEditor.prototype = new ObjectEditor();
</script>


{{ encore_entry_script_tags('app') }}
{% endblock %}

{% block javascripts %}
{{ encore_entry_script_tags('charge') }}
<script src="{{ asset('aggrid/endmain.js') }}"></script>

{% endblock %}
