{% extends 'base.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<button id='addRow' >Ajouter une ligne</button><br/><br/>

<div id="myGrid" style="height: 50rem; width:150rem;" class="ag-theme-balham"></div>

{% endblock %}

{% block js %}
<script src="{{ asset('jsuite/jsuites.js') }}"></script>
<script src="{{ asset('aggrid/ag-grid-enterprise.min.js') }}"></script>
<script src="{{ asset('aggrid/main.js') }}"></script>

<script>
function DomEditor() {
	this.data = [
		{% for domaine in domaines %}
		{ id:'{{ domaine.id }}', name:'{{ domaine.domaineName }}' },
		{% endfor %}
	];
}

DomEditor.prototype = new ObjectEditor();
</script>

<script>
function ConfEditor() {
	this.data = [
		{% for confidentialite in confidentialites %}
		{ id:'{{ confidentialite.id }}', name:'{{ confidentialite.confidentialiteName }}' },
		{% endfor %}
	];
}

ConfEditor.prototype = new ObjectEditor();
</script>

<script>
function TypoEditor() {
	this.data = [
		{% for type in types %}
		{ id:'{{ type.id }}', name:'{{ type.shortName }}' },
		{% endfor %}
	];
}

TypoEditor.prototype = new ObjectEditor();
</script>

<script>
function SupEditor() {
	this.data = [
		{% for systeme_information in systeme_informations %}
		{ id:'{{ systeme_information.id }}', name:'{{ systeme_information.usualName }}' },
		{% endfor %}
	];
}

SupEditor.prototype = new ObjectEditor();
</script>

{{ encore_entry_script_tags('app') }}
{% endblock %}

{% block javascripts %}
<script src="{{ asset('aggrid/endmain.js') }}"></script>

{% endblock %}
